error_log
amazing-system-plugin-*.zip
*.chk
wp-as-current*
.ftpquota
.listing
fantastico_fileslist.txt
fantversion.php
wp-config.php
wp-content/cache
db.php
wp-content/upgrade
wp-content/backup-db
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
*.log
wp-content/backups
wp-content/w3tc-config
magicbash.com
tv


# Premium WP Plugins
wp-content/plugins/amazing-system/*
wp-content/plugins/gravityforms/*
wp-content/plugins/gravityformsfreshbooks/*
wp-content/plugins/gravityformspaypal/*
wp-content/plugins/premise/*
wp-content/plugins/scribe/*
wp-content/plugins/seedprod-coming-soon-pro/*
wp-content/plugins/custompress/*
wp-content/plugins/wpmu-dev-post-votes/*
wp-content/plugins/wpmudev-updates/*
wp-content/plugins/comments-plus/*

wp-content/themes/genesis/*
wp-content/themes/inspyr/*
wp-content/themes/ondemand/*

# Sublime Text Project Files
*.sublime-project
*.sublime-workspace
